{% extends 'base.jinja2' %}
{% block title %}ITMO Domitory{% endblock %}
{% block script %}
<link rel="stylesheet" href="../static/css/auth.css">
{% endblock %}
{% block content %}


<div class="container col-md-9 col-sm-9 order-md-1" id="central">

    <main role="main">
        <div class="jumbotron card-signin">
            <h4 class=" card-title text-center text-uppercase">Change Room</h4>
            <div id="errorMessage">

            </div>
            <form id="myForm" method="POST" role="form">
                <div class="form-group ">
                    <label for="example-number-input" class="text-black">Next Room (will be random if empty)</label>
                    <input class="form-control card-signin  form-control-lg" type="number" name="room" placeholder="name@example.com" id="example-number-input">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" name="enquire">Send</button>
            </form>
        </div>
    </main>
</div>

{% endblock %}