{% extends 'base.jinja2' %}
{% block title %}ITMO's Domitory{% endblock %}
{% block script %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <section>
        <h2>Housing</h2>
        <p class="my-5">ITMO University offers a vast collection of Russian and international literature on a variety of technical and social disciplines, as well as general interest and fiction. Its repository houses over 2.6 million books. Students have access to six locations throughout the campus.</p>
        <p>
            For you to be in the heart of student life even after classes, ITMO provides several dormitories located all over the city of St. Petersburg.
        </p>
        <p>
            The dorms are multi-story buildings with comfortable rooms. Depending on availability and location, there may be from 1 to 4 students sharing a dorm room. Rooms are complete with the necessary furniture: including a wardrobe, workspace, and bed. A pillow, mattress, and bedding are also provided by the dorm.</br>

            Generally, there are two types of dorms: <b>block-type</b> and <b>corridor-type</b>. The first one implies blocks of 2-3 rooms, where you share a bathroom only with the block neighbours, while still having one kitchen, equipped with cooking stoves and countertops, on each floor. The corridor-type includes rooms, located alongside a corridor, with both shower and cooking facilities shared by all students on that floor.</br>
            Some dorms have their own gym, library, laundry, and park area. For your safety, there's a concierge at the entrance. All the edifices are located on the same metro line as ITMO University's campuses, which make it a convenient place to stay and save your time significantly every morning before classes.</br>

            Cost of the university dorms varies from an equivalent of about <b>10 USD to 40 USD</b> per month depending on the occupancy, specifications of the room, and facilities available.</br>
        </p>

    </section>
    <section>
        <h2 class="my-5">Discover the ITMO dorms!</h2>
        <div class="jumbotron">
            <h3 class="display-8">LENSOVETA ST., 23</h3>
            <p class="lead">metro Moskovskaya (10 minutes by bus)</p>
            <hr class="my-4">
            <p>

                <div class="row">
                    <div class="col-4"><b>Number of people in a room : </b>3</div>
                    <div class="col-4"><b>WiFi : </b>available</div>
                    <div class="col-4"><b>Price: </b>737-779 rub. per month</div>
                </div>
                <div class="row">
                    <div class="col-4"><b>Laundry room : </b>available</div>
                    <div class="col-4"><b>Shower facilities : </b>on the first floor</div>
                    <div class="col-4"><b></b></div>
                </div>

            </p>
        </div>
        <div class="jumbotron">
            <h3 class="display-8">ALPIYSKIY PER., 15, BUILDING 2</h3>
            <p class="lead">Prospect Slavy metro station (15 minutes on foot)</p>
            <hr class="my-4">
            <p>

                <div class="row">
                    <div class="col-4"><b>Number of people in a room : </b>2</div>
                    <div class="col-4"><b>WiFi : </b>available</div>
                    <div class="col-4"><b>Price: </b>897-903 rub. per month</div>
                </div>
                <div class="row">
                    <div class="col-4"><b>Laundry room : </b>available</div>
                    <div class="col-4"><b>Shower facilities : </b>on the first and second floors</div>
                    <div class="col-4"><b></b></div>
                </div>

            </p>
        </div>
        <div class="jumbotron">
            <h3 class="display-8">BELORUSSKAYA ST., 6А</h3>
            <p class="lead">Prospect Bolshevikov metro station (15 minutes by bus)</p>
            <hr class="my-4">
            <p>

                <div class="row">
                    <div class="col-4"><b>Number of people in a room : </b>2-3</div>
                    <div class="col-4"><b>WiFi : </b>available</div>
                    <div class="col-4"><b>Price: </b>1 281-1 302 rub. per month</div>
                </div>
                <div class="row">
                    <div class="col-4"><b>Laundry room : </b>not available</div>
                    <div class="col-4"><b>Shower facilities : </b> in each module</div>
                    <div class="col-4"><b></b></div>
                </div>

            </p>
        </div>
        <div class="jumbotron">
            <h3 class="display-8">VYAZEMSKIY PER., 5-7 (OLD BUILDING)</h3>
            <p class="lead">Petrogradskaya metro station (10 minutes on foot)</p>
            <hr class="my-4">
            <p>

                <div class="row">
                    <div class="col-4"><b>Number of people in a room : </b>3</div>
                    <div class="col-4"><b>WiFi : </b>available</div>
                    <div class="col-4"><b>Price: </b> 785-871 rub. per month</div>
                </div>
                <div class="row">
                    <div class="col-4"><b>Laundry room : </b>available</div>
                    <div class="col-4"><b>Shower facilities : </b>on the first floor</div>
                    <div class="col-4"><b></b></div>
                </div>

            </p>
        </div>
        <div class="jumbotron">
            <h3 class="display-8">VYAZEMSKIY PER., 5-7 (NEW BUILDING)</h3>
            <p class="lead">Petrogradskaya metro station (10 minutes on foot)</p>
            <hr class="my-4">
            <p>

                <div class="row">
                    <div class="col-4"><b>Number of people in a room : </b> 2-3</div>
                    <div class="col-4"><b>WiFi : </b>available</div>
                    <div class="col-4"><b>Price: </b>1 692-2 773 rub. per month</div>
                </div>
                <div class="row">
                    <div class="col-4"><b>Laundry room : </b>available</div>
                    <div class="col-4"><b>Shower facilities : </b>in each module</div>
                    <div class="col-4"><b></b></div>
                </div>

            </p>
        </div>
    </section>
</div>
{% endblock %}