{% extends 'base.jinja2' %}
{% block title %}Living Cost{% endblock %}
{% block script %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <section>

        <div class="jumbotron">
            <h3 class="display-8">TUITION FEES</h3>
            <hr class="my-4">
            <p>
                In 2020-2021 yearly tuition at Bachelor’s programs starts at 228,000 rubles, Master’s programs – at 245,000 rubles, and International Master’s programs – at 234,000 rubles.</br>

                Bachelor’s programs are four years in length, while Master’s and International Master’s programs are two years. PhD studies are usually conducted within three years.
            </p>
        </div>
        <div class="jumbotron">
            <h3 class="display-8">SCHOLARSHIPS</h3>
            <hr class="my-4">
            <p>
                ITMO University offers its prospective students a range of opportunities to enroll without any tuition fees.
            </p>
        </div>
        <div class="jumbotron">
            <h3 class="display-8">COST OF LIVING </h3>
            <hr class="my-4">
            <p>
                Worldwide, St. Petersburg is the 4th for affordability and 66th best student city overall according to QS Best Student Cities Ranking.</br>
                To see more approximations and compare the cost of living in St. Petersburg to that of other cities, head to Numbeo</br>
                Spending varies for each student, but here are some general references to help you map out your finances.</br>
                <li>
                    <b>Accommodation</b>
            <p>Staying in university dorms is by far the cheapest option, where you can pay as little as 463 rubles a month, while renting a one-room apartment will cost you anywhere from 15,000 rubles (plus utility bills) a month. This is for the suburbs – the closer a location is to the city center, the more expensive it is.. You’re usually required to pay a deposit of one month’s rent upfront, to be refunded when you move out. It’s always a good idea to personally inspect the apartment you’re considering. </p>
            </li>
            <li>
                <b>Food</b>
                <p>
                    St. Petersburg has a variety of convenience stores and supermarket chains catering to different budgets. For the former, cheaper ones include Pyaterochka and Dixy, while Prisma, Perekrestok and Vkusvill are more mid-range, though still reasonably priced; the latter usually have comparable prices and include Karusel, Auchan, O’Key, Lenta and others. </br>
                    Eating out will cost you from 300-500 rubles for a lunch at a cafe to 700-2,500 rubles for a dinner at a mid-range restaurant. Look out for the so-called business lunches on weekdays or combo meals to save some money.
                </p>
            </li>
            <li>
                <b>Mobile and internet plans</b>
                <p>
                    Popular mobile service providers include MTS, Beeline, MegaFon and TELE 2, with mobile plans starting at under 400 rubles per month. Internet plans start at about 250 rubles.

                </p>
            </li>
            <li>
                <b>Transport</b>
                <p>St. Petersburg boasts a convenient transport system with relatively low travel costs – there is no zoning and time limits. One trip on the metro is 55 rubles, while bus, trolleybus, and tram tickets are 50 rubles each. Students can purchase a special transport pass that offers unlimited travel on the metro, buses, trams and trolleybuses for 1,075 rubles per month. Alternatively, you can buy separate passes for specific types of transport, or a Podorozhnik pass, which allows you to gradually lower your travel costs (the more you travel, the cheaper it will be). </p>
            </li>
            <li>
                <b>Entertainment</b>
                <p>
                    Apart from relatively inexpensive food, transport, services and rent, St. Petersburg, which is known as Russia’s cultural capital, offers lots of low-cost and world-class entertainment: for example, all students enjoy free or significantly discounted entry to the city’s museums, and there are normally lots of free events going on </br>
                    On average, expect to pay 250-500 rubles for a standard cinema ticket, while theater and music tickets start at just under 1,000 rubles.
                </p>
            </li>
            <li>
                <b>Working while you study</b>
                <p>Your student visa allows you to work part-time to cover some of your living expenses so long as this doesn’t interrupt your studies. Starting from August 2020, you are able to work part-time anywhere throughout the year without having to obtain any work permits. As of 2020, the government-mandated minimum monthly wage is 19,000 rubles.</p>
            </li>
            </p>
        </div>

    </section>
</div>
{% endblock %}