{% extends 'base.jinja2' %}
{% block title %}About{% endblock %}
{% block script %}
<link rel="stylesheet" href="../static/css/auth.css">

{% endblock %}
{% block content %}




<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
<form class="form-signin">
    
  <div class="form-group">
    <label for="seeAnotherField">What's your Request</label>
    <select class="form-control" id="seeAnotherField">
          <option value="no">New Contract</option>
          <option value="yes">Change Room</option>
    </select>
  </div>
  <div class="form-group" id="otherFieldDiv">
    <label for="otherField">What's Current Room (will random if empty):</label>
    <input type="text" class="form-control w-100" id="otherField2">
  </div>
  <div class="form-group">
    <label for="seeAnotherFieldGroup">What's Next Room (will random if empty):</label>
    <input type="text" class="form-control w-100" id="otherField2">
    
  </div>
    <div class="form-group">
    <label for="seeAnotherFieldGroup3">What's Domitory(will random if empty):</label>
    <input type="text" class="form-control w-100" id="otherField3">
    
  </div>

  </div>
  <div class="form-group">
    <label for="comments" style="margin-left:5%;">Comments/Questions</label>
    <textarea class="form-control form-control-sm" id="comments" rows="3" style="margin-left:5%; margin-right:5%; width:90%;" ></textarea>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
</form>
</div></div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="../static/src/js/request.js"></script>
{% endblock %}