{% extends 'base.jinja2' %}
{% block title %}Success{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card text-center" id="about">
            <div class="card-body">
                <div class="row">
                    <h2>

                        <p id="name">Your request has been sent. We will get back to you as soon as possible, thanks.</p>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}