

#featured{
    background-color: #E0F1F2;
    }
    #my-jumbo{
    border: none;
    padding: 0;
    background-color: #00695C;
    }
    
    .navbar{
    border: none;
    border-radius:0;
    background-color: rgba(0,0,0,0.5);
    background-color: #616161;
    }
    
    .display-4{
    font-style: italic;
    }
    
    .fa-twitter{
    color:white;
    }
    
    #bottom{
    margin-top: 5px;
    margin-bottom: 0;
    padding: 10px;
    }
    
    
    footer{
    background-color: #616161;
    height: -50px;
    
    }
    .card{ 
    margin: 20px;
    }
    
    hr{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    height: 1px;
    background-color:  #004D40;
    }
    
    #about{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
    background-color: white;
    border-radius: 2em;
    padding: 50px;
    }
    
    .text-justify{
    text-align: right;
    }
    
    
    body{
    background-color: #E0F1F2;
    margin: 0;
    }
    
    #my-twitter{
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .twitter-timeline{
    margin-left: 21px;
    }
    
    #mytitle{
    margin-left: 30px;
    font-size: 500%;
    }
    
    #mytitle-two{
    font-size: 700%;
    }
    #hr-one{
    background-color: aliceblue;
    height: 5px;
    width: 100%;
    }
    
    #hr-two{
        background-color: aliceblue;
    height: 4px;
    width: 80%;
    }
    #hr-three{
        background-color: aliceblue;
    height: 3px;
    width: 60%;
    }
    #hr-four{
        background-color: aliceblue;
    height: 2px;
    width: 40%;
    }
    #hr-five{
        background-color: aliceblue;
    height: 1px;
    width: 20%;
    }
    #left-top-con{
    padding-right:  50px;
    }