{% extends 'base.html' %}
{% block title %}About{% endblock %}
{%block script %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<section>
    <div class="jumbotron">
        <div class="row">
            <div class="col text-center">
                <h2 class="mb-5">The procedure to moving into a dormitory</h2>
            </div>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1.Register
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Filling the <a href="signin">registation form</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2.Providing medical documents
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        In your personal applicant’s page, you need to attach scanned copies of the following documents:

                        <li>Form 086/y certificate;</li>
                        <li>Medical assessment of a chest X-ray performed in Russia (in case it is not included in your form 086/y certificate);</li>
                        <li>Vaccination certificate.</li>
                        You will also need to provide two copies of the 086/y certificate to the sports medicine specialist in the beginning of September (for your Physical Education classes).
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3.Signing up to system
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <a href="auth">Signing up</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            4.Book a digital appointment to move in
                        </button>
                    </h2>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            In August, every student with a guaranteed place in one of the university’s dormitories can book the date and time when they would like to move in. Students will be notified by email when this feature becomes available, and the date and time of move-in during the first wave will need to be booked within 48 hours after the student is assigned to a dorm.</br>

                            You can choose the dorm you will be assigned to.For more information,please visit <a href="housing">this page</a></br>

                            Before the residential lease agreement takes force (on September 1), the applicant has to pay 200 rubles/day for their stay at the dormitory.</br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading5">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            5.Moving in
                        </button>
                    </h2>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            In late August, the moving-in process will start in accordance with the Order of precedence of providing accommodation.</br>
                        </p>
                        <p>
                            To move into an ITMO University dormitory, you need:
                            <li />Your passport and a copy of it;
                            <li />Notarized parental consent in accordance with form 1 (in case the applicant is below 18);
                            <li />Two 3x4 cm photos.
                        </p>

                        To move into the dorms of the Interuniversity campus and the St. Petersburg State Forestry University, you need:

                        <li />Your passport and a copy of it;
                        <li />Parental consent on signing the residential lease agreement and residence in the Interuniversity campus in accordance with form 2 (this one doesn’t have to be notarized; needed for students below 18);
                        <li />Certificate of student status, acquired at the Student Services Office;
                        <li />Two 3x4 cm photos;
                        <li />Copy of a form 086/y certificate;
                        <li />Copy of a medical assessment of a chest X-ray performed in Russia (in case it is not included in your form 086/y certificate);
                        <li />Copy of a vaccination certificate;
                        <li />Certificate from the university’s medical office.
                        </p>
                        <p>
                            You can only move in after you have attached scanned copies of your medical documents on your personal applicant’s page. If the documents haven’t been attached, you need to provide their copies (form 086/y, medical assessment of a chest X-ray performed in Russia (in case it is not included in the 086/y certificate), vaccination certificate, the medical insurance policy) to the university’s medical office.</br>
                        </p>
                        <p>
                            To book the date and time of their move-in, international students need to inform the International Students Learning and Support Center about the date and time of their arrival not later than three days in advance at: int.students@itmo.ru.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading6">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            6.Information for students waiting to be assigned a dormitory
                        </button>
                    </h2>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            If a student hasn’t been assigned a place in one of the university’s dorms in the first wave, they will have to find a temporary residence in St. Petersburg on their own (or with the assistance of an estate agency)
                            and keep tracking their place in the queue on their personal profile until their status changes to “place assigned”.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</br>

<section>
    <div class="jumbotron">
        <h2>Contact info for Student Services Office:</h2>

        <li />Lomonosova St. 9, room 1400
        <li />campus@itmo.ru
        <li />+7 (931) 228-38-84
        <li />Monday - Friday, 9.00 - 19.00
    </div>

</section>
{% endblock %}