{% extends 'base.html' %}
{% block title %}ITMO domitory management system {% endblock %}
{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h3 class="display-3">Welcome to ITMO University,Saint Peterburg</h3>
            <p>St. Petersburg is a relatively inexpensive city to live in, ranking fourth for affordability worldwide according to QS Best Student Cities Ranking, with inexpensive housing options, low transport costs, and a variety of shops to suit all budgets. </p>
            <p><a class="btn btn-primary btn-lg" href="livingCost" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Housing</h2>
                <p>ITMO University has several dormitories at its disposal, all conveniently located either within the limits of its "student town" or next to St. Petersburg's metro stations. All ITMO University campuses are also located within walking distance to the metro stations.</p>
                <p><a class="btn btn-secondary" href="housing" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Sport</h2>
                <p>
                    Students and staff are welcome to use sporting facilities on Vyazemski Pereulok 5/7 free of charge.</br>

                    ITMO University also has a student sports club Kronbars, which boasts over 20 sports teams ranging 
                </p>
                <p><a class="btn btn-secondary" href="sport" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Public spaces on campus</h2>
                <p>
                    
                    <li>Library</li>
                    <li>Coworking space</li>
                    <li>Bicycle parking</li>
                    
                </p>
                <p><a class="btn btn-secondary" href="publicSpace" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% endblock %}