{% extends 'base.html' %}
{% block title %}ITMO Domitory{% endblock %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="request form">
    <meta name="author" content="Tran Duc Manh">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/img/itmo.png" type="image/x-icon">
    <title>Request Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {%block script%}{% endblock %}
</head>
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="../static/img/itmo.png" alt="" width="72" height="72">
            <h2>ITMO DOMITORY MANAGEMENT SYSTEM</h2>
            <p class="lead">It's MOre than a university.</p>
        </div>
    </div>
    <main role="main">
        <div class="row">
            <div class="container" id="central">

                <main role="main">
                    <div class="jumbotron">
                        <h4 class="mb-3">Request form</h4>
                        <div id="errorMessage">

                        </div>
                        <form id="myForm" action="sucess.html" method="POST" role="form">
                            <div class="form-group">
                                <label for="subject" class="text-black">Name</label>
                                <input type="text" class="form-control" id="subject" placeholder="Student name" title="Subject should contain more than one letter." name="name" required>
                            </div>
                            <div class="form-group" id="email-group">
                                <label for="email" class="text-black">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="subject" class="text-black">Passport</label>
                                <input type="text" class="form-control" id="subject" placeholder="C12345678" title="Subject should contain more than one letter." name="passport" required>
                            </div>
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">Request</label>
                                    <select class="custom-select d-block w-100" id="country" name="request" required>
                                        <option value="">Choose...</option>
                                        <option>New student</option>
                                        <option>Change room</option>
                                        <option>Others:</option>
                                        
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid request.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Current Room</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" name="currentroom" required>
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Next Room</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" name="nextroom" required>
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="body" class="text-black">Message</label>
                                <textarea class="form-control" id="body" rows="6" name="body" placeholder="Send to the admin." name="comment" required></textarea>
                            </div>
                            <hr class="mb-4">

                            <h4 class="mb-3">Processing</h4>

                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="credit">Credit card</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="debit">Debit card</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="paypal">PayPal</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark mb-2" name="enquire">Send</button>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </main>
</body>
    {% endblock %}
